.full-width {
width: 80%;
}

.call-button{
    margin-left: 10px;
}

.container-buttons{
    display: flex;
    justify-content: flex-end;
}

.margin-top-20{
    margin-top: 20px;
}  

.update-button{
    margin-right: 5px;
}